page-film {
    .ion-btn-content {
        justify-content: space-between;
    }
    .popularMovie-navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
