page-detail {
 
    .card-header-md {
        font-size: 1.6rem;
        color: #222;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .qrcode{
        display: flex;
        justify-content: center;
        img{
            height: 155px
        }
    }
}
