<ion-header>

  <ion-navbar color="dark">
    <ion-title *ngIf="movie">{{movie.title}}</ion-title>
    <ion-buttons end>
    <button ion-button icon-only style="font-size: 1.5em; " (click)="toggleFavorite()">
      <ion-icon [name]="isFavorite ? 'star':'star-outline'"></ion-icon></button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="movie">
    <img src="{{'https://image.tmdb.org/t/p/w500/'+ movie.poster_path}}" />
    <ion-card-header>
      <h2>Synopsis
        <ion-badge color="dark">{{movie.vote_average}}</ion-badge>
      </h2>
      <ion-badge color ="light"><p>date de sortie </p>{{movie.release_date}}</ion-badge>
      
    </ion-card-header>
    <ion-card-content>{{movie.overview}}</ion-card-content>
  </ion-card>

</ion-content>