page-note {
    .ion-btn-content {
        display: flex;
        justify-content: space-between;
    }
    .noteMovie-navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
