<ion-header>

    <ion-navbar color="dark">
        <div class="upcomingMovie-navBar" padding>
          <ion-title>Film par date de sortie</ion-title>
          <button ion-button icon-left (click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon>Scan</button>
        </div>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>

    <ion-searchbar placeholder="Recherche un film" [(ngModel)]="search" (keyup)="filtre($event.target.value)"></ion-searchbar>

    <!-- mise en place des boutons pour la navigation entre les recherches-->
    <ion-grid> 
      <ion-row class="ion-btn-content" padding>
        <button ion-button color="dark" (click)="goToPopular()">Popularité</button>
        <button ion-button color="dark" (click)="goToNote()">Note</button>
        <button ion-button color = "dark"[disabled]="!isenabled" (click)="goToUpcoming()">Sortie</button>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="movies">
      <ion-row>
        <ion-col col-6 *ngFor="let movie of movies">
          <img src=  "{{'https://image.tmdb.org/t/p/w500/'+ movie.poster_path}}" (click)="goToDetail(movie)" />
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  